DISCORD_TOKEN=PASTE_BOT_TOKEN_HERE
GUILD_ID=

FAMILY_NAME=Colombo Famq
EMBED_COLOR=0xB11F2D
BANNER_URL=
FOOTER_TEXT=Colombo Family • Management System

CAPT_POINTS=3
MP_POINTS=2
MSH_POINTS=2
TRAINING_POINTS=1
OTHER_POINTS=1
INACTIVITY_DAYS_DEFAULT=3
AUTO_CREATE_CASE_ON_ACCEPT=true
MOVE_TO_INTERVIEW_VOICE=false
PORT=8080
